<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qwyx001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,63}</string>
                <key>spriteSourceSize</key>
                <string>{224,63}</string>
                <key>textureRect</key>
                <string>{{1251,319},{224,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qwyx003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,104}</string>
                <key>spriteSourceSize</key>
                <string>{364,104}</string>
                <key>textureRect</key>
                <string>{{753,165},{364,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qwyx004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,104}</string>
                <key>spriteSourceSize</key>
                <string>{284,104}</string>
                <key>textureRect</key>
                <string>{{1291,1},{284,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1527,258},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,66}</string>
                <key>spriteSourceSize</key>
                <string>{233,66}</string>
                <key>textureRect</key>
                <string>{{398,387},{233,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1251,384},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1352,384},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,64}</string>
                <key>spriteSourceSize</key>
                <string>{395,64}</string>
                <key>textureRect</key>
                <string>{{1,387},{395,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1596,389},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,162}</string>
                <key>spriteSourceSize</key>
                <string>{536,162}</string>
                <key>textureRect</key>
                <string>{{753,1},{536,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,125}</string>
                <key>spriteSourceSize</key>
                <string>{117,125}</string>
                <key>textureRect</key>
                <string>{{1577,1},{117,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,128}</string>
                <key>textureRect</key>
                <string>{{1119,165},{130,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx014_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1520,382},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,128}</string>
                <key>textureRect</key>
                <string>{{1119,295},{130,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx015_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{86,84}</string>
                <key>textureRect</key>
                <string>{{1029,364},{86,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{1567,128},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx016_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{633,387},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,41}</string>
                <key>spriteSourceSize</key>
                <string>{129,41}</string>
                <key>textureRect</key>
                <string>{{1117,425},{129,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,41}</string>
                <key>spriteSourceSize</key>
                <string>{129,41}</string>
                <key>textureRect</key>
                <string>{{1651,258},{129,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yx019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,41}</string>
                <key>spriteSourceSize</key>
                <string>{129,41}</string>
                <key>textureRect</key>
                <string>{{1477,319},{129,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yx020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,104}</string>
                <key>spriteSourceSize</key>
                <string>{274,104}</string>
                <key>textureRect</key>
                <string>{{753,271},{274,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,104}</string>
                <key>spriteSourceSize</key>
                <string>{274,104}</string>
                <key>textureRect</key>
                <string>{{1291,107},{274,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,134}</string>
                <key>spriteSourceSize</key>
                <string>{750,134}</string>
                <key>textureRect</key>
                <string>{{1,251},{750,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,248}</string>
                <key>spriteSourceSize</key>
                <string>{750,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,104}</string>
                <key>spriteSourceSize</key>
                <string>{274,104}</string>
                <key>textureRect</key>
                <string>{{753,377},{274,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,104}</string>
                <key>spriteSourceSize</key>
                <string>{274,104}</string>
                <key>textureRect</key>
                <string>{{1251,213},{274,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,88}</string>
                <key>spriteSourceSize</key>
                <string>{91,88}</string>
                <key>textureRect</key>
                <string>{{1029,271},{91,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>catchGoldAtlas.png</string>
            <key>size</key>
            <string>{1697,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:196e209419fb2f005f12951e4c2561bf:d474a574fc57eee7e5aba2ba80869bc2:2ff80a049b65b85662785b32d6303f15$</string>
            <key>textureFileName</key>
            <string>catchGoldAtlas.png</string>
        </dict>
    </dict>
</plist>
