<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xyzp001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,63}</string>
                <key>spriteSourceSize</key>
                <string>{222,63}</string>
                <key>textureRect</key>
                <string>{{204,769},{222,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,224}</string>
                <key>spriteSourceSize</key>
                <string>{187,224}</string>
                <key>textureRect</key>
                <string>{{1,769},{187,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,766}</string>
                <key>spriteSourceSize</key>
                <string>{750,766}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,766}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,574}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{951,1},{574,574}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,137}</string>
                <key>spriteSourceSize</key>
                <string>{132,137}</string>
                <key>textureRect</key>
                <string>{{1324,789},{132,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,137}</string>
                <key>spriteSourceSize</key>
                <string>{132,137}</string>
                <key>textureRect</key>
                <string>{{1616,627},{132,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,196}</string>
                <key>spriteSourceSize</key>
                <string>{618,196}</string>
                <key>textureRect</key>
                <string>{{753,1},{618,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,128}</string>
                <key>spriteSourceSize</key>
                <string>{104,128}</string>
                <key>textureRect</key>
                <string>{{1755,756},{104,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,64}</string>
                <key>spriteSourceSize</key>
                <string>{148,64}</string>
                <key>textureRect</key>
                <string>{{753,621},{148,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,111}</string>
                <key>spriteSourceSize</key>
                <string>{127,111}</string>
                <key>textureRect</key>
                <string>{{1755,627},{127,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,12}</string>
                <key>spriteSourceSize</key>
                <string>{224,12}</string>
                <key>textureRect</key>
                <string>{{1,995},{224,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,12}</string>
                <key>spriteSourceSize</key>
                <string>{224,12}</string>
                <key>textureRect</key>
                <string>{{190,769},{224,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{951,577},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,64}</string>
                <key>spriteSourceSize</key>
                <string>{148,64}</string>
                <key>textureRect</key>
                <string>{{753,687},{148,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{102,3}</string>
                <key>spriteSize</key>
                <string>{382,154}</string>
                <key>spriteSourceSize</key>
                <string>{586,160}</string>
                <key>textureRect</key>
                <string>{{906,621},{382,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,287}</string>
                <key>spriteSourceSize</key>
                <string>{219,287}</string>
                <key>textureRect</key>
                <string>{{617,769},{219,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,58}</string>
                <key>spriteSourceSize</key>
                <string>{200,58}</string>
                <key>textureRect</key>
                <string>{{1264,789},{200,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,104}</string>
                <key>spriteSourceSize</key>
                <string>{364,104}</string>
                <key>textureRect</key>
                <string>{{1144,577},{364,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,63}</string>
                <key>spriteSourceSize</key>
                <string>{346,63}</string>
                <key>textureRect</key>
                <string>{{1527,220},{346,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,220}</string>
                <key>spriteSourceSize</key>
                <string>{346,220}</string>
                <key>textureRect</key>
                <string>{{269,769},{346,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,58}</string>
                <key>spriteSourceSize</key>
                <string>{201,58}</string>
                <key>textureRect</key>
                <string>{{1204,789},{201,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,104}</string>
                <key>spriteSourceSize</key>
                <string>{364,104}</string>
                <key>textureRect</key>
                <string>{{1510,627},{364,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,60}</string>
                <key>spriteSourceSize</key>
                <string>{346,60}</string>
                <key>textureRect</key>
                <string>{{1527,285},{346,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,217}</string>
                <key>spriteSourceSize</key>
                <string>{346,217}</string>
                <key>textureRect</key>
                <string>{{1527,1},{346,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,104}</string>
                <key>spriteSourceSize</key>
                <string>{364,104}</string>
                <key>textureRect</key>
                <string>{{1144,683},{364,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xyzp026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,58}</string>
                <key>spriteSourceSize</key>
                <string>{202,58}</string>
                <key>textureRect</key>
                <string>{{1144,789},{202,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,123}</string>
                <key>spriteSourceSize</key>
                <string>{82,123}</string>
                <key>textureRect</key>
                <string>{{1324,923},{82,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,123}</string>
                <key>spriteSourceSize</key>
                <string>{82,123}</string>
                <key>textureRect</key>
                <string>{{1616,761},{82,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,123}</string>
                <key>spriteSourceSize</key>
                <string>{82,123}</string>
                <key>textureRect</key>
                <string>{{1616,845},{82,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,123}</string>
                <key>spriteSourceSize</key>
                <string>{82,123}</string>
                <key>textureRect</key>
                <string>{{1741,886},{82,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,80}</string>
                <key>spriteSourceSize</key>
                <string>{430,80}</string>
                <key>textureRect</key>
                <string>{{1062,577},{430,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xyzp032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,291}</string>
                <key>spriteSourceSize</key>
                <string>{278,291}</string>
                <key>textureRect</key>
                <string>{{1527,347},{278,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>luckyAtlas.png</string>
            <key>size</key>
            <string>{1874,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65ba33beb16dabbe7d43e70507bebc97:fff1eea3df5b938ff97b442d24588c61:4bda5429d7309757c4df6bfba71ee8dc$</string>
            <key>textureFileName</key>
            <string>luckyAtlas.png</string>
        </dict>
    </dict>
</plist>
