<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baiditan_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,173}</string>
                <key>spriteSourceSize</key>
                <string>{128,173}</string>
                <key>textureRect</key>
                <string>{{1406,458},{128,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baiditan_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,173}</string>
                <key>spriteSourceSize</key>
                <string>{128,173}</string>
                <key>textureRect</key>
                <string>{{1095,589},{126,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baiditan_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,173}</string>
                <key>spriteSourceSize</key>
                <string>{128,173}</string>
                <key>textureRect</key>
                <string>{{1581,458},{128,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baiditan_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,173}</string>
                <key>spriteSourceSize</key>
                <string>{128,173}</string>
                <key>textureRect</key>
                <string>{{1083,717},{128,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baiditan_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,173}</string>
                <key>spriteSourceSize</key>
                <string>{128,173}</string>
                <key>textureRect</key>
                <string>{{1790,367},{128,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{184,96}</string>
                <key>spriteSourceSize</key>
                <string>{206,98}</string>
                <key>textureRect</key>
                <string>{{1308,398},{184,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jstc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,349}</string>
                <key>spriteSourceSize</key>
                <string>{364,349}</string>
                <key>textureRect</key>
                <string>{{1434,1},{364,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tj001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,63}</string>
                <key>spriteSourceSize</key>
                <string>{222,63}</string>
                <key>textureRect</key>
                <string>{{883,938},{222,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tj002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{639,945},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tj003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,149}</string>
                <key>spriteSourceSize</key>
                <string>{140,149}</string>
                <key>textureRect</key>
                <string>{{1270,589},{140,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tj004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,135}</string>
                <key>spriteSourceSize</key>
                <string>{126,135}</string>
                <key>textureRect</key>
                <string>{{1412,588},{126,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tj005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{679,195}</string>
                <key>spriteSourceSize</key>
                <string>{679,195}</string>
                <key>textureRect</key>
                <string>{{1,624},{679,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tj006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{679,382}</string>
                <key>spriteSourceSize</key>
                <string>{679,382}</string>
                <key>textureRect</key>
                <string>{{1,1},{679,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tzxx003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,63}</string>
                <key>spriteSourceSize</key>
                <string>{223,63}</string>
                <key>textureRect</key>
                <string>{{1044,847},{223,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tzxx004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,64}</string>
                <key>spriteSourceSize</key>
                <string>{148,64}</string>
                <key>textureRect</key>
                <string>{{1920,340},{148,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tzxx006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,189}</string>
                <key>spriteSourceSize</key>
                <string>{577,189}</string>
                <key>textureRect</key>
                <string>{{729,398},{577,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tzxx007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1920,640},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tzxx009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,11}</string>
                <key>spriteSourceSize</key>
                <string>{239,11}</string>
                <key>textureRect</key>
                <string>{{1,983},{239,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tzxx010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,11}</string>
                <key>spriteSourceSize</key>
                <string>{239,11}</string>
                <key>textureRect</key>
                <string>{{1,996},{239,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tzxx011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,104}</string>
                <key>spriteSourceSize</key>
                <string>{364,104}</string>
                <key>textureRect</key>
                <string>{{1800,1},{364,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tzxx012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,64}</string>
                <key>spriteSourceSize</key>
                <string>{148,64}</string>
                <key>textureRect</key>
                <string>{{1920,490},{148,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yqyl4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{1540,701},{22,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,122}</string>
                <key>spriteSourceSize</key>
                <string>{708,122}</string>
                <key>textureRect</key>
                <string>{{1,821},{708,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm10_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1643,915},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,104}</string>
                <key>textureRect</key>
                <string>{{987,695},{94,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,103}</string>
                <key>spriteSourceSize</key>
                <string>{95,103}</string>
                <key>textureRect</key>
                <string>{{1258,740},{95,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,143}</string>
                <key>spriteSourceSize</key>
                <string>{111,143}</string>
                <key>textureRect</key>
                <string>{{1540,588},{111,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,136}</string>
                <key>spriteSourceSize</key>
                <string>{162,136}</string>
                <key>textureRect</key>
                <string>{{1756,542},{162,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,39}</string>
                <key>spriteSourceSize</key>
                <string>{36,39}</string>
                <key>textureRect</key>
                <string>{{682,345},{36,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,74}</string>
                <key>spriteSourceSize</key>
                <string>{170,74}</string>
                <key>textureRect</key>
                <string>{{711,938},{170,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,281}</string>
                <key>spriteSourceSize</key>
                <string>{750,281}</string>
                <key>textureRect</key>
                <string>{{682,1},{750,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,118}</string>
                <key>spriteSourceSize</key>
                <string>{109,118}</string>
                <key>textureRect</key>
                <string>{{1355,740},{109,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,118}</string>
                <key>spriteSourceSize</key>
                <string>{109,118}</string>
                <key>textureRect</key>
                <string>{{1586,701},{109,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,102}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{1586,821},{92,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,44}</string>
                <key>spriteSourceSize</key>
                <string>{59,44}</string>
                <key>textureRect</key>
                <string>{{682,284},{59,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm20_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,44}</string>
                <key>spriteSourceSize</key>
                <string>{59,44}</string>
                <key>textureRect</key>
                <string>{{682,624},{59,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm20_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,46}</string>
                <key>spriteSourceSize</key>
                <string>{59,46}</string>
                <key>textureRect</key>
                <string>{{1912,812},{59,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm20_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,46}</string>
                <key>spriteSourceSize</key>
                <string>{59,46}</string>
                <key>textureRect</key>
                <string>{{1269,845},{59,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm20_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,46}</string>
                <key>spriteSourceSize</key>
                <string>{59,46}</string>
                <key>textureRect</key>
                <string>{{1922,860},{59,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm20_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,44}</string>
                <key>spriteSourceSize</key>
                <string>{59,44}</string>
                <key>textureRect</key>
                <string>{{1922,921},{59,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{693,112}</string>
                <key>spriteSourceSize</key>
                <string>{693,112}</string>
                <key>textureRect</key>
                <string>{{729,284},{693,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,331}</string>
                <key>spriteSourceSize</key>
                <string>{65,331}</string>
                <key>textureRect</key>
                <string>{{711,871},{65,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,331}</string>
                <key>spriteSourceSize</key>
                <string>{66,331}</string>
                <key>textureRect</key>
                <string>{{711,803},{66,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{726,237}</string>
                <key>spriteSourceSize</key>
                <string>{726,237}</string>
                <key>textureRect</key>
                <string>{{1,385},{726,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,55}</string>
                <key>spriteSourceSize</key>
                <string>{99,55}</string>
                <key>textureRect</key>
                <string>{{1685,588},{99,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,56}</string>
                <key>spriteSourceSize</key>
                <string>{94,56}</string>
                <key>textureRect</key>
                <string>{{543,945},{94,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1815,784},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,102}</string>
                <key>spriteSourceSize</key>
                <string>{94,102}</string>
                <key>textureRect</key>
                <string>{{1450,860},{94,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,106}</string>
                <key>spriteSourceSize</key>
                <string>{303,106}</string>
                <key>textureRect</key>
                <string>{{682,695},{303,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,75}</string>
                <key>spriteSourceSize</key>
                <string>{72,75}</string>
                <key>textureRect</key>
                <string>{{1912,706},{72,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,27}</string>
                <key>spriteSourceSize</key>
                <string>{72,27}</string>
                <key>textureRect</key>
                <string>{{1912,783},{72,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,28}</string>
                <key>spriteSourceSize</key>
                <string>{71,28}</string>
                <key>textureRect</key>
                <string>{{1756,458},{71,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,104}</string>
                <key>spriteSourceSize</key>
                <string>{364,104}</string>
                <key>textureRect</key>
                <string>{{1424,352},{364,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,36}</string>
                <key>spriteSourceSize</key>
                <string>{540,36}</string>
                <key>textureRect</key>
                <string>{{1,945},{540,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{95,92}</string>
                <key>textureRect</key>
                <string>{{1546,915},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,75}</string>
                <key>spriteSourceSize</key>
                <string>{337,75}</string>
                <key>textureRect</key>
                <string>{{1906,1},{337,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1044,801},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1737,901},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,102}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{1697,807},{92,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zjm6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,102}</string>
                <key>spriteSourceSize</key>
                <string>{95,102}</string>
                <key>textureRect</key>
                <string>{{1815,680},{95,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,123}</string>
                <key>textureRect</key>
                <string>{{1466,725},{118,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{1332,860},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjm9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{1697,689},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zm002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{1831,881},{89,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zztz001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,63}</string>
                <key>spriteSourceSize</key>
                <string>{223,63}</string>
                <key>textureRect</key>
                <string>{{1107,912},{223,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zztz002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,104}</string>
                <key>spriteSourceSize</key>
                <string>{364,104}</string>
                <key>textureRect</key>
                <string>{{729,589},{364,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stallSceneAtlas.png</string>
            <key>size</key>
            <string>{1985,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94557525b05231acd5d4612e9323cc87:79094c9b245caf1ea4ed3f54d3aa4536:6a87c6f417461a7b1bd3aba5458a4dc8$</string>
            <key>textureFileName</key>
            <string>stallSceneAtlas.png</string>
        </dict>
    </dict>
</plist>
